In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
T = pd.read_csv("T.csv")
T

      participant  session observee  sure_gain  risk_gain  risk_prob  chosen
0              65        1        .         11         23        0.6       1
1              65        1        .         16         30        0.6       1
2              65        1        .          7         14        0.4       0
3              65        1        .          6         21        0.6       1
4              65        1        .         13         20        0.6       0
...           ...      ...      ...        ...        ...        ...     ...
7483           96        6   averse          5         14        0.6       1
7484           96        6   averse         16         28        0.5       0
7485           96        6   averse          9         30        0.4       1
7486           96        6   averse         15         30        0.4       0
7487           96        6   averse          7         18        0.5       0

[7488 rows x 7 columns]

In [3]:
filtered_T = T[T['session'].isin([1, 3, 5])]
filtered_T.head(50)

    participant  session observee  sure_gain  risk_gain  risk_prob  chosen
0            65        1        .         11         23        0.6       1
1            65        1        .         16         30        0.6       1
2            65        1        .          7         14        0.4       0
3            65        1        .          6         21        0.6       1
4            65        1        .         13         20        0.6       0
5            65        1        .          5         14        0.6       1
6            65        1        .         17         27        0.6       0
7            65        1        .         17         30        0.5       0
8            65        1        .         12         26        0.4       0
9            65        1        .         14         24        0.6       0
10           65        1        .          8         21        0.6       1
11           65        1        .          9         30        0.4       0
12           65        1        .          5         28        0.5       1
13           65        1        .          9         29        0.5       0
14           65        1        .          7         18        0.5       0
15           65        1        .         16         28        0.5       0
16           65        1        .          8         27        0.4       1
17           65        1        .         10         23        0.5       0
18           65        1        .         12         30        0.6       1
19           65        1        .         11         30        0.5       0
20           65        1        .          5         30        0.4       1
21           65        1        .          8         18        0.5       0
22           65        1        .         15         30        0.4       0
23           65        1        .          6         16        0.5       0
24           65        1        .         14         30        0.5       0
25           65        1        .         15         30        0.5       0
26           65        1        .          6         27        0.4       0
27           65        1        .         10         23        0.4       0
28           65        1        .         10         29        0.6       1
29           65        1        .         14         29        0.4       0
30           65        1        .         16         30        0.4       0
31           65        1        .         15         26        0.6       0
32           65        1        .          9         15        0.6       0
33           65        1        .         13         30        0.4       0
34           65        1        .         12         22        0.5       0
35           65        1        .         11         28        0.4       0
36           65        1        .         17         21        0.4       0
37           65        1        .         13         28        0.5       0
38           65        1        .          7         16        0.6       0
78           65        3   seeker         10         23        0.5       1
79           65        3   seeker         14         24        0.6       1
80           65        3   seeker         10         29        0.6       1
81           65        3   seeker          8         18        0.5       0
82           65        3   seeker         14         29        0.4       0
83           65        3   seeker          9         15        0.6       0
84           65        3   seeker          5         28        0.5       1
85           65        3   seeker         17         27        0.6       0
86           65        3   seeker         11         30        0.5       1
87           65        3   seeker         16         28        0.5       0
88           65        3   seeker          9         29        0.5       1

In [4]:
# Calculate risk-preference

# p: reward prob 
p = filtered_T['risk_prob']
# r: reward mag
filtered_T.loc[filtered_T['chosen'] == 0, 'r'] = 0

# Filter rows where 'chosen' is 1
filtered_T.loc[filtered_T['chosen'] == 1, 'r'] = filtered_T['risk_gain'] - filtered_T['sure_gain']
r = filtered_T['r']



# Calculate risk-preference
filtered_T.insert(0,'expected value E(X)', p * r) 
filtered_T.insert(0,'risk of the option V(x)', (r**2) * p*(1-p))

C:\Users\Navid\AppData\Local\Temp\ipykernel_19848\3030373005.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_T.loc[filtered_T['chosen'] == 0, 'r'] = 0

In [7]:
filtered_T.tail()

,risk of the option V(x),expected value E(X),participant,session,observee,sure_gain,risk_gain,risk_prob,chosen,r
7444,0.0,0.0,96,5,averse,0,0,0.0,0,0.0
7445,0.0,0.0,96,5,averse,0,0,0.0,0,0.0
7446,0.0,0.0,96,5,averse,0,0,0.0,0,0.0
7447,0.0,0.0,96,5,averse,0,0,0.0,0,0.0
7448,0.0,0.0,96,5,averse,0,0,0.0,0,0.0

In [18]:
new_data = filtered_T[filtered_T['observee'].isin(["seeker","averse"])]
new_data.r = (new_data.r/(new_data.r.max())) 
new_data.loc[new_data["observee"].isin(["seeker"]), "r"] *= -1

new_data.insert(0,"U",new_data["expected value E(X)"] + (new_data.r)*new_data["risk of the option V(x)"])
# filtered_T.insert(0,"alpha",new_data.r)

C:\Users\Navid\AppData\Local\Temp\ipykernel_19848\740765201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.r = (new_data.r/(new_data.r.max()))

In [19]:
new_data

,U,alpha,risk of the option V(x),expected value E(X),participant,session,observee,sure_gain,risk_gain,risk_prob,chosen,r
78,-15.4700,-0.52,42.25,6.5,65,3,seeker,10,23,0.5,1,-0.52
79,-3.6000,-0.40,24.00,6.0,65,3,seeker,14,24,0.6,1,-0.40
80,-54.4464,-0.76,86.64,11.4,65,3,seeker,10,29,0.6,1,-0.76
81,0.0000,-0.00,0.00,0.0,65,3,seeker,8,18,0.5,0,-0.00
82,0.0000,-0.00,0.00,0.0,65,3,seeker,14,29,0.4,0,-0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
7444,0.0000,0.00,0.00,0.0,96,5,averse,0,0,0.0,0,0.00
7445,0.0000,0.00,0.00,0.0,96,5,averse,0,0,0.0,0,0.00
7446,0.0000,0.00,0.00,0.0,96,5,averse,0,0,0.0,0,0.00
7447,0.0000,0.00,0.00,0.0,96,5,averse,0,0,0.0,0,0.00
7448,0.0000,0.00,0.00,0.0,96,5,averse,0,0,0.0,0,0.00

In [17]:
filtered_T.iloc[60]

alpha                       -0.56
risk of the option V(x)     47.04
expected value E(X)           8.4
participant                    65
session                         3
observee                   seeker
sure_gain                      16
risk_gain                      30
risk_prob                     0.6
chosen                          1
r                            14.0
Name: 99, dtype: object

In [10]:
new_data.loc[new_data.loc[:,"observee"].isin(["seeker"])].r

78     -0.52
79     -0.40
80     -0.76
81     -0.00
82     -0.00
        ...
7366   -0.64
7367   -0.76
7368   -0.84
7369   -0.52
7370   -0.00
Name: r, Length: 1248, dtype: float64

In [ ]:
filtered_T['E(X)'] = 1 - filtered_T['risk_prob'] # Assuming risk-neutral proportion is 0.5

E(x) = pr 
V(x) = (r**2) (p(1 − p))
# r: reward mag

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
y = np.array(new_data.r)
X = np.array(new_data.U).reshape(-1, 1)

# Create a label encoder
label_encoder = LabelEncoder()

# Encode the target labels
y_encoded = label_encoder.fit_transform(y)

# Now use y_encoded for training
clf = LogisticRegression(random_state=0).fit(X, y_encoded)

d:\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [38]:
clf.score(X,y_encoded)

0.8120993589743589

In [40]:
clf.predict(X).mean()

15.856971153846153

In [26]:
X

array([[-0.52],
       [-0.4 ],
       [-0.76],
       ...,
       [ 0.  ],
       [ 0.  ],
       [ 0.  ]])